
html::-webkit-scrollbar {
    display: none;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    background: #bfd2de;
    min-width: 487px;
    padding: 0;
    margin: 0;
}
.loader {
    width: 50px;
    height: 50px;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    background: #557ba5;
}
.schedule {
    /* display: flex; */
    /* flex-direction: column; */
    /* gap: 2px; */
}
.title {
    font-size: 18px;
    color: #fff;
    padding: 0 20px;
}
.btn-prev, .btn-next {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background: #e9ecec;
}
.btn-next > img {
    margin-bottom: -0.2em;
    height: 1em;
    transform: rotate(90deg);
}
.btn-prev > img {
    margin-bottom: -0.2em;
    height: 1em;
    transform: rotate(-90deg);
}
.btn-prev:hover, .btn-next:hover {
    background: #f7f8f8;
}
.btn-prev:active, .btn-next:active {
    background: #d8dfdf;
}

.checkbox {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
.checkbox:checked ~ .lessons {
    max-height: 100vh;
}
.checkbox:checked ~ .day-header {
    background: #79ca65;
}
.checkbox:checked ~ .day-header > .i-arrow {
    transform: rotate(180deg);
}
.day {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-top: 1px;
}
.day-header {
    background: #8497d4;
    color: #fff;
    font-size: 16px;
    font-weight: bolder;
    padding: 5px 0;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    /* grid-template-areas: "" "date" "arrow"; */
}
.day-header:hover {
    background: #8da1e0;
}
.day-header:active {
    background: #7c8dc7;
}
.i-arrow {
    color: #fff;
    height: 1em;
    transition: 0.2s;
    margin-left: 10px;
    filter: invert(100%);
    transform: rotate(90deg);
}
.lessons {
    display: flex;
    flex-direction: column;
    background: #e4f7f7;
    /* border-radius: 15px; */
    max-height: 0;
    transition: 0.35s;
}
.lesson {
    display: flex;
    align-items: center;
    padding: 5px;
}
.lesson:nth-child(even) {
    background: #f9ffff;
}
/* .lesson:last-child {
    border-radius: 0 0 10px 10px;
} */
.lesson:before {
    content: '';
    color: #fff;
    padding: 0 5px;
    border-radius: 20px;
    margin: 0 20px 0 10px;
    min-width: 20px;
    text-align: center;
}
.default:before {
    background: rgb(78, 78, 78);
    /* width: 8px; */
    height: 8px;
}
.l:before {
    content: 'л';
    background: #65ca61;
}
.pr:before {
    content: 'пр';
    background: #5aa2c3;
}
.lab:before {
    content: 'лаб';
    background: #d9cd5c;
}
.timeandplace {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}
.time {
    white-space: nowrap;
}
.place {
    white-space: nowrap;
}
.nameandteacher {
    display: flex;
    flex-direction: column;
    width: max-content;
}
.teacher {
    white-space: nowrap;
}
.i-happy {
    margin: 10px auto;
    width: 50px;
    height: 50px;
    opacity: 0.7;
}

@keyframes ldio-h0wo97mr80w {
    0% { transform: translate(-50%,-50%) rotate(0deg); }
    100% { transform: translate(-50%,-50%) rotate(360deg); }
}
.ldio-h0wo97mr80w div {
    position: absolute;
    width: 72px;
    height: 72px;
    border: 8px solid #ffffff;
    border-top-color: transparent;
    border-radius: 50%;
}
.ldio-h0wo97mr80w div {
    animation: ldio-h0wo97mr80w 1s linear infinite;
    top: 100px;
    left: 100px
}
.loadingio-spinner-rolling-w48jmon96u {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: none;
}
.ldio-h0wo97mr80w {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}
.ldio-h0wo97mr80w div { box-sizing: content-box; }
/* generated by https://loading.io/ */